#content {
	width: 1024px;
	padding: 0;
	background-color: #F1F1F1;
	margin: 0 auto;
}
.box {
	padding: 12px;
	text-align: center;
}
.head {
	background-color: #262626;
	color: #F1F1F1;
}
.s {
	font-size: 10px;
}
.head a {
	color: #fff;
}
.initially_hidden {
	display: none;
}
#about {
	border-top: 4px solid #262626;
}
table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}
table a {
	color: #414DA5;
}
table a:hover {
	color: #262626;
}
body {
	margin: 0;
	padding: 0;
	background-color: #414DA5;
	color: #000;
	font-family: 'Lao UI', Verdana, Arial, sans-serif;
}